.logo {
	float:left;
}
.logo img {
	/*width: 90%;*/
}
.logotxt {
	float: left;
	margin-top: 35px !important;
	color: #22b8f0;
	font-size: 1.2em;
	font-weight:bold;
}
.sp-megamenu-parent > li, .sp-megamenu-parent > li.active > a, .sp-megamenu-parent > li:hover > a {
	font-weight: bold;
}
#logotip-block div{float: left}
	
	#logotip-block a{display: block;
	}
	#logotip-block #logotip-last{float: left;}
	#logotip-block .trf:hover img{     -webkit-transform: scale(1.02); 
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
     transform: scale(1.02); }
	#logotip-block trf img{    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.sp-menu-item img {
	float: left;
}
   
/*gantry css custom*/
#proizvoditeli {
	position: relative;
	overflow: hidden;
	margin-top: 5px;
	background: rgba(255, 255, 255, 0.6)
}
#proizvoditeli h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 22px;
	font-family: "RobotoBold";
}.rt-proizv p{text-align: justify;
    text-indent: 15px;}
.rt-proizv h4{text-align: center;
    margin-bottom: 12px;}
#proizvoditeli ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	font: 14px "RobotoRegular", sans-serif;
}
#proizvoditeli ul li {
	position: relative;
	float: left;
	margin: 0 8px;
	padding: 10px 0;
	border: 3px solid #6e6e6e;
	border-radius: 3px;
}
#proizvoditeli ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 0 15px;
	line-height: 40px;
}
#proizvoditeli ul li img {
	height: 75px;
}
#proizvoditeli ul li:hover img {
	-webkit-transform: scale(1.12);
	-moz-transform: scale(1.12);
	-ms-transform: scale(1.12);
	-o-transform: scale(1.12);
	transform: scale(1.12);
}
#sp-showcase .layout-slideshow .sprocket-features-pagination {
	left: 50%;
}
#sp-position1 .decor_home_descr h3 {
	font-family: "RobotoBold";
    /*font-size: 291%;*/
    color: #FFFFFF;
    margin: 0;
    padding: 10px;
}

.bantop .uk-margin {
	background-image: url("../../../images/banners/action.png");
	color: #ffffff;
	min-height: 70px;
	border-radius: 5px;
	line-height: 64px;
}
.bantop .uk-margin-top {
	background-image: url("../../../images/banners/action.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	min-height: 70px;
	/*border-radius: 5px*/;
	line-height: 64px;
	margin-top: 0 !important;
}
.bantop .uk-panel-body {
    padding: 0;
}
#sp-mainbottom img {
	width: 100%;
}
.decor_home_descr {
	background-color: #1099c7;
    padding:5px;
    color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}
.decor_home_descr ul:first-of-type {
	padding: 0 5px 0 0;
	/*color:red;*/
}
#sp-position1 .decor_home_descr ul a {
	/*font-family: "RobotoRegular";*/
	/*font-size: 12px;*/
	/*text-decoration: underline;*/
	color:rgba(255,255,255,1);
}
#sp-position1 .decor_home_descr ul a:hover {
	color: rgba(102,255,255,1);
}
#sp-position1 .decor_home_descr ul a:hover {
	text-decoration: none;
}
#sp-position1 .decor_home_descr p {
	clear: both;
	text-align: right;
	padding: 10px 20px 0 0;
	margin: 0;
}
#sp-position1 .decor_home_descr a {
	color: #FFFFFF;
	text-decoration: none;
}
#sp-position1 .decor_home_descr a:hover{text-decoration: underline;}
#tg-block{    overflow: hidden;
    position: relative;
    margin-bottom: 10px;}
#tg-block img{float: left; margin-right: 15px; border-radius: 10px;}
	#tg-block div {clear: both;     overflow: hidden;}
	#tg-block #tg-svoistva{margin-top: 9px;}
	#tg-block li{margin-left: 320px;
    text-transform: uppercase;}
#tg-block p{    text-align: justify;}
#primenenie{clear: both; margin-top: 30px;}
	#rt-maintop .gantry-row{
    margin: 0 -15px;
}
#primenenie img {
  display: inline;
  height: auto;
  width: 100%;
}
#tg-svoistva h3 {    
	font-size: 16px;
    line-height: 22px;
	margin-top: 0;
}
	
#tg-svoistva {
	font-size: 12px;
	line-height: 18px;
}	
#tg-svoistva img{
	float:left;
	margin-right:10px;
	width:100%;
	
}

#sp-maintop .rt-circle-number {
    color: #1099c7;
    background: #fdee0a;
    border-radius: 100%;
    display: block;
    font-size: 1em;
	font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 6px;
    width: 20px;
	position: absolute;
	left: 0;
    top: 0;
}
/*end gantry css custom*/
.sp-module ul > li > a::before {
  content: none;
  font-family: FontAwesome;
  margin-right: 8px;
}
.sp-module ul > li > a {
  line-height: 24px;
}
img {
	display: inline;
	height: auto;
	max-width: 100%;
}

	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
	
/*оборачиваем таблицу в див*/
.table-wrap {
  overflow:auto;
}
/*конец оборачиваем таблицу в див*/
.anticopi {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#sp-top-bar .topright .sp-module {
	display: block;
}
.topcol {
	/*font-size: 16px;
	line-height: 26px;
	text-shadow: 1px 1px 1px rgba(51,51,51,0.8);*/
}
.plastiki,
.customhadr > p {
	/*font-weight:bold;*/
}
.customhadr > p > span {
	font-weight:bold;
	font-size:16px;
	/*line-height: 42px;*/
}
.topmail .customhadr > p > span {
	font-weight:bold;
	font-size:16px;
	line-height: 42px;
}
.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span {
	color: #333;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a, .sp-megamenu-parent .sp-dropdown li.sp-menu-item span {
	color: #666666;
}
#sp-footer {
  background: #1099c7 none repeat scroll 0 0;
}
.body-innerwrapper {
  overflow-x: visible;
}
.body-wrapper {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  right: 0;
  backface-visibility: visible;
}
.card {
	display:table;
}
.hdimg .col-md-3,
.hdimg .col-md-12 {
	margin: 0 auto;
	display:table;
}
.hdimg .col-md-12 {
	text-align: center;
	font-weight: bold;
}
#sp-plast {
  background-color: #1099c7;
  color: #ffffff;
  padding: 20px 0 20px 0;
}
#sp-top-bar {
  padding: 0;
}
#sp-top-bar p {
  margin: 0;
}
#sp-maintop {
	background-attachment: fixed;
	background-image: url("../../../images/bgmodm.jpg") !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	/*padding-top: 30px;*/
}
/*#sp-maintop .container {
	background: rgba(255,255,255,0.9) none repeat scroll 0 0;
	color: #1099c7;
	padding-top:30px;
}*/
#sp-maintop .container {
	background: rgba(16,153,199,0.8) none repeat scroll 0 0;
	color: #ffffff;
	padding-top:30px;
	padding-bottom:30px;
	font-weight:bold;
}
.homepg .uk-panel-box {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border: none;
    border-radius: 2px;
    padding: 20px;
}
.obrat .uk-panel-title {
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: none;
	color: #ffffff;
}
#sp-maintop .container h3,
#sp-maintop .container h4 {
	font-weight: bold;
	font-size: 16px;
}
#sp-main-body {
  padding: 50px 0;
}
figure {
    background: #1099c7; /* Цвет фона */
    display: block; /* Блочный элемент */
    /*width: 150px;*/ /* Ширина */
    /*height: 190px;*/ /* Высота */
    /*float: left;*/ /* Блоки выстраиваются по горизонтали */
    margin: 0 10px 10px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
   }
   figure img {
   /* border: 2px solid #8b8e4b;*/ /* Параметры рамки */
   }
   figure p {
    margin-bottom: 0; /* Отступ снизу */
   }
#sp-position1 .uk-overlay {
    display: block;
    /*margin: 0;*/
    max-width: 100%;
    overflow: hidden;
    position: relative;
    transform: translateZ(0px);
    vertical-align: middle;
}
/*figure {
    margin: 0 0 1rem;
}*/

.uk-overlay-bottom {
    top: auto;
}
.uk-overlay-background {
    background: rgba(255, 2, 5, 0.7) none repeat scroll 0 0;
}
.uk-overlay-panel {
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 5px;
    position: absolute;
   /* right: 0;*/
    top: 0;
	/*max-width: 200px;*/
}
#sp-position1 .uk-overlay-background,
.pwebbox_content .uk-overlay-background{
    background: rgba(255, 2, 5, 0.7) none repeat scroll 0 0;
}
.pwebbox_content .uk-overlay-panel {
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
	max-height: 100px;
	font-weight:bold;
}
#sp-position1 .uk-overlay-panel {
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 5px;
    position: absolute;
   /* right: 0;*/
    top: 0;
	max-width: 200px;
}
#sp-position2 .uk-overlay-panel {
	bottom: 0;
    color: #fff;
    left: 0;
    padding: 5px;
    position: absolute;
   /* right: 0;*/
    top: 0;
	max-width: 200px;
}
#sp-position2 .uk-overlay-background {
    background: rgba(1, 85, 236, 0.7) none repeat scroll 0 0;
}
#sp-position3 .uk-overlay-panel {
	bottom: 0;
    color: #fff;
    left: 0;
    padding: 5px;
    position: absolute;
   /* right: 0;*/
    top: 0;
	max-width: 250px;
}
#sp-position3 .uk-overlay-background {
    background: rgba(30, 228, 102, 0.7) none repeat scroll 0 0;
}
#sp-mainbottom .sp-module .sp-module-title {
  font-size: 14px;
  line-height: 1;
  margin: 20px 0 20px;
  text-transform: uppercase;
}
.sp-module .uk-slidenav-position ul > li {
  border-bottom: 0;
}
#sp-mainbottom {
	margin-bottom:50px;
}
.pwebbox_toggler {
  cursor: pointer;
  display: block;
  height: 30px !important;
  line-height: 20px;
  padding: 5px !important;
  position: relative;
  text-decoration: none;
  width: inherit;
  text-align:center;
  font-weight:bold !important;
}
@media (min-width: 1200px) {
.pwebbox_toggler {
	margin-top: 10px;
}
}
@media (max-width: 1199px) {
.pwebbox_toggler {
	margin-top: 0;
}
}
.light .pwebbox_toggler {
	width: 100px;
  background-color: #fdee0a !important;
  background-image: linear-gradient(to bottom, #f4f6f7, #fdee0a) !important;
  color: #1099c7 !important;
}
.blue .pwebbox_toggler {
	width: 250px;
	height: 40px !important;
	line-height: inherit !important;
	padding: 7px 5px !important;
	font-size: 16px;
  background-color: #1099c7 !important;
  background-image: none !important;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.blue .pwebbox_toggler span:hover {
	color: #F7F198 !important;
}
.buttonbox .sp-module {
	margin-top: 10px;
}
.buttonbox .blue .pwebbox_toggler {
	margin: auto;
}
.dark .pwebbox_toggler {
	background-color: #FA8A02 !important;
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-image: -webkit-linear-gradient(270deg,rgba(214,181,90,1.00) 0%,rgba(250,138,2,1.00) 100%) !important;
	background-image: -moz-linear-gradient(270deg,rgba(214,181,90,1.00) 0%,rgba(250,138,2,1.00) 100%) !important;
	background-image: -o-linear-gradient(270deg,rgba(214,181,90,1.00) 0%,rgba(250,138,2,1.00) 100%) !important;
	background-image: linear-gradient(180deg,rgba(214,181,90,1.00) 0%,rgba(250,138,2,1.00) 100.00%) !important;
}

.bgstr {
  background-attachment: fixed;
  background-image: url("../../../images/orgsteklo1.jpg") !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.bgstr #sp-main-body .container {
  background: rgba(16, 153, 199, 0.8) none repeat scroll 0 0;
  color: #ffffff;
  font-weight: bold;
  border-radius:10px;
}
.bgstr #sp-main-body {
  padding: 0 0 20px 0;
}
.full-image img {
	width:100%;
}
.fa {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
        font-size: 18px;
    /*font-size: inherit;*/
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul.social-icons > li a {
	color: #F8F3F3;
	/*border: 1px;
	border-radius: 3px;
	border-color: #F8F3F3;
	border-style: solid;*/
	padding: 2px;
}
#sp-position6 .sp-module {
    margin: 0 5px 0 0;
}
.accord {
	display: block !important;
}
.accord .uk-accordion-title {
	background-color: rgba(65,169,227,0.50);
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
.accord .uk-accordion-title:hover {
	color: #ffffff;
	background-color: rgba(65,169,227,1.00);
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
#sbox-window {
    background-color: #fff;
    text-align: left;
    overflow: visible;
    padding: 20px !important;
}
.bord img {
	border: 1px solid #333333;
}
.uk-modal {
	z-index: 10010 !important;
}
.indexlink {
	text-align: center;
}
.topmblue {
	background-color: rgba(140,219,255,0.80);
	margin: 5px !important;
	border-radius: 5px;
	line-height: 70px !important;
}